/** ABOUT **/
.about {
	max-width: 100%;
}

input, select{
	width: 100%;
}

.about .center_text {
	width: 90%;
}

.about p {
	max-width: 1000px;
}

.about .col {
	width: 100%;
    margin: 0;
}

.carousel .center_text {
	color: white;
}

.carousel .center_text p {
	color: white;
}
.carousel h2{
    text-align: center;
}

@media (min-width: 0px) and (max-width: 768px) {
	.row_clear {
		flex-direction: column;
	}

	.col_clear {
		display: block;
		margin: 0;
		padding: 0;
		flex-basis: 100%;
	}

	.clear_text {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: none;
	}
}

iframe{
	width:100%;
}
