/**.cart .item img{
	width: 40%;
	padding-right: 2em;
	float: left;
}**/

.payform .col {
	width: 45%;
}

.payform input[type=text],.payform select {
	width: 100%;
}

.order_summary, .cart {
	padding: 1em;
}

.order_summary .row{
	margin: 1em 0;
}

.order_summary .default_button{
	text-align: center;
	display: block;
}

.cart .default_button{
    margin: 1%;    
}

.cart .col{
    margin: 0;
}

.cart .col21_1, .cart .col21_2{
    margin: 0;
}

.cart .item{
    margin: 2em 0;
}

@media only screen and (max-width: 767px) {
	.payform.row {
		display: block;
	}
}

.checkout2{
    display: none;
}

#checkout {
    display:none;
}

#checkout:checked ~ .checkout2 {
    display:block;
}

#checkout:checked ~ .checkout1 {
    display: none;
}

.product_name h4{
	margin: 0;
}

.wishlist.default_button{
	display:block;
}