/** GRID **/

/** 2 cols **/

.row_nowrap{
	display:flex;
	flex-wrap:nowrap;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-bottom: 2%;
	margin-top: 2%;
}

.col_em {
	flex-basis: 200%;
}

.col_em2 {
	flex-basis: 500%;
}

.col {
	margin: auto;
	margin-top: 0;
	padding-right: 2%;
}

.col img {
	width: 100%;
}

.first_item {
	margin-left: 0;
}

.last_item {
	margin-right: 0;
}

.col2 {
	width: 45%;
}


.col21_1 {
	width: 70%;
}

.col21_2{
	width: 30%;
}


.col4{
	width: 21%;
}

@media (min-width: 0) and (max-width: 767px) {

	.col {
			padding: 2%;

	}
	
	.row_clear {
		flex-direction: column;
	}

	.col_clear {
		display: block;
		margin: 0;
		padding: 0;
		flex-basis: 100% !important;
		width:100%;
	}

	.clear_text {
		position: relative;
		width: 100%;
		padding: 0;
		margin:0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: none;
	}
	
	.clear_text a{
		display: block;
		padding: 1em 0;
		width:100%;
	}
	
	.mobile_img {
		height: 15em;
		object-fit: cover;
		object-position: center;
	}

		
	.col2 {
		width: 100% !important;
	}

	.col21_1{
		width: 100% !important;
	}
	
	.col21_2{
		width: 100% !important;
	}
	
	.col4{
		width: 45%;
	}
}