/** NEWSLETTER **/
.newsletter_signup {
	margin: 1em;
}

.newsletter_signup .col {
	width: 45%;
}

.newsletter_signup input[type=text] {
	width: 50%;
}


.promos .col {
	width: 45%;
}

@media (min-width: 0) and (max-width: 768px) {

	.newsletter_signup input[type=text],
	.newsletter_signup input[type=submit] {
		width: 100%;
	}

	.newsletter_signup .col {
		width: 100%;
	}
	
}