/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;  /*Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.subcontainer{
	width: 50%;
	margin: 5% ;
}

img{
	cursor: pointer;
}

.subcontainer2{
	margin:  auto; 

}

@media (min-width: 0) and (max-width: 768px) {
	.modal-content {
		width: 80%;
	}
}


/*
.modal-content img {

}

.container{
	width: 50%;
	margin: 10% auto;
}

*/

