@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
	--beige: #F1E3E3;
	--yellow-accent: #EDA437;
	--dark-brown: #76441F;
	--red-accent: #4B1A0F;
	--blue-light: #A7C6F3;
	--gray-default: #DBDBDB;
	--gray-accent: #4f4f4f;
}

body {
	margin: 0 !important;
	margin-left: 0;
	margin-right: 0;
}

.body {
	overflow-x: hidden;
}

.main_body {
	margin: 5%;
}

p {
	color: var(--gray-accent);
}

a {
	cursor: pointer;
}

a:hover {
	color: var(--red-accent);
}

.nav {
	height: 3em;
}

/** HOME CAROUSEL**/

.carousel img {
	width: 100%;
}

.slick-list.draggable {
	width: 100%;
}

.slick-track {
	overflow: hidden;
}

.slick-dots li button:before {
	font-size: 25px !important;
}

.slick-dots li button:before {
	color: var(--yellow-accent) !important;
}

.slick-dots li.slick-active button:before {
	color: var(--dark-brown) !important;
}


.slick-dots {
	position: absolute;
	bottom: 5% !important;
	color: red;
}

/** ABOUT **/

.section_nav a {
	display: inline-block;
	padding: 1em 0.75em;
}

.about img {
	width: 100%;
	margin: 0;
	max-width: 100%;
	transition: 0.4s;
}


/** LINKS & NAVIGATION **/

.nav input {
	display: none;
}

.nav {
	padding: 1% 2%;
	margin: 0;
}

.nav .brandlogo {
	display: inline-block;
	font-weight: bolder;
	font-size: 2rem;
	padding: 0;
}


.nav li {
	display: inline-block;
	list-style: none;
}

.nav a {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--gray-accent);
	padding: 0 1.5em;
	border-right: var(--gray-accent) solid 1px;
}


.nav .tools {
	border-right: none;
}

.nav a:hover,
.nav i:hover {
	color: var(--yellow-accent);
}

.nav_select {
	float: right;
	margin: 1em 0;
	padding: 0;
	transition: 0.3s;
}

.nav .menu a {
	padding: 0;
}

.nav .menu i {
	padding: 0.5em;
}

.mobile {
	display: none;
}

.nav li.mobile {
	display: none;
}

.nav .active {
	background-color: #4CAF50;
	color: white;
}


@media (min-width: 768px) and (max-width: 1024px) {}

/** NAV MOBILE **/
@media (min-width: 0px) and (max-width: 767px) {

	.mobile {
		display: inline-block;
	}

	.nav_select {
		display: none;
		height: 0;
		overflow: hidden;
		transition: max-height 1s linear;

	}

	/**
    input#sandwich_toggle {
        display:none;
    }**/

	#sandwich_toggler .close {
		display: none;
	}

	#sandwich_toggle:checked ~ #sandwich_toggler .dropdown {
		display: none;
	}

	#sandwich_toggle:checked ~ #sandwich_toggler .close {
		display: inline-block;
	}

	.nav i {
		width: 100%;
		font-size: 1.5em;
	}

	.nav .menu a,
	i {
		cursor: pointer;
		display: inline-block;
	}

	.nav .tools {
		float: right;
	}

	#sandwich_toggle:checked ~ .nav_select {
		z-index: 100;
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: auto;
		transition: max-height 0.3s linear;
		margin: 0;
	}

	#sandwich_toggle:checked ~ .nav_select li {
		display: block;
	}

	#sandwich_toggle:checked ~ .nav_select li a {
		display: block;
		border: white solid 1px;
		background-color: var(--gray-default);
		padding: 0.6em;
		transition: 0.3s;
	}

	#sandwich_toggle:checked ~ .nav_select li a:hover {
		background-color: var(--yellow-accent);
		color: white;
	}

	.nav .cart {
		padding: 0;
		border: none;
		float: right;
	}

	.nav .cart,
	#sandwich_toggler {
		padding: 1em;
	}

	.desktop {
		display: none !important;
	}
}



/** DROP DOWN MENU **/

/**
.dropdown_content a {
    background-color: #DBDBDB;
    display: block;
}

.dropdown_content {
    display: none;
    position: absolute;
    padding: 0;
}


.dropdown_content li {
    float: none;
    width: 100%;
}

.dropdown:hover .dropdown_content {
    display: block;
}
**/

/** FORMS **/


.form {
	margin-bottom: 3em;
	padding: 1em;
	border: #DBDBDB solid 2px;
	border-radius: 5px;
}

.checkout {
	display: flex;
	text-align: left;
}

.checkout.header {
	height: 2em;
	font-weight: bold;
	text-align: center;
}

.checkout .product_img img {
	width: 100%;
}

.checkout .product_img,
.checkout .colour,
.checkout .size,
.checkout .quantity,
.checkout .price {
	margin: 0;
	width: 30%;
}

.checkout .product_name a {
	text-decoration: none;
}

.checkout .product_img img,
.checkout .colour p,
.checkout .size p,
.checkout .quantity p,
.checkout .price p {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	margin: 0;
}

.checkout .product_img img,
.checkout.header .product p,
.checkout.header .colour p,
.checkout.header .size p,
.checkout.header .quantity p,
.checkout.header .price p {
	position: static;
	top: 50%;
	width: 100%;
	text-align: center;
	margin: 0;
}

/**
@media only screen and (max-width: 600px) {

    .checkout.header {
        display: none;
    }

    .checkout {
        display: block;    
        overflow: hidden;
    }

    .checkout .product_img, 
    .checkout .product_name,
    .checkout .colour,
    .checkout .size,
    .checkout .quantity,
    .checkout .price {
        width: auto;
        float: left;

    }
    .checkout .product_name{
        width: 70%;
    }
    
    .checkout .colour,
    .checkout .size,
    .checkout .quantity,
    .checkout .price {
        padding: 0 1em 1em 0;
        width: 25%;
        margin-left: 2em;
    }
    
    .checkout .product_img {
        width: 30%;
    }

    
    .checkout .product_name a,
    .checkout .colour p,
    .checkout .size p,
    .checkout .quantity p,
    .checkout .price p {
        position: static;
        width: auto;
    }**/

/**
        .checkout.header {
        display: none;
    }

    .checkout {
        display: block;        
        overflow:hidden;
    }

    .checkout .product_img, 
    .checkout .product_name,
    .checkout .colour,
    .checkout .size,
    .checkout .quantity,
    .checkout .price {
        width: auto;
        padding: 1em 1em 0 0;
    }
    .checkout .product_name{
    }
    
    .checkout .product_name, 
    .checkout .product_img {
        display:block;
        float:left;
 
    }    
    
    .checkout .product_img{
        width: 30%;    
    }
    
    .checkout .product_img img {
        width: 100%;
    }
    
    .checkout .colour,
    .checkout .size,
    .checkout .quantity,
    .checkout .price {
        width: 10%;
        float:left;
        
    }
    .checkout .colour {
        display: 
    }
    
    .checkout .product_name a,
    .checkout .colour p,
    .checkout .size p,
    .checkout .quantity p,
    .checkout .price p {
        position: static;
        width: auto;
    }

}**/


.checkout {
	margin-bottom: 1em;
	display: flex;
	height: auto;
	text-align: left;
}

.checkout.header div {}

.checkout .product {
	margin: 0;
	display: inline-block;
	width: 50%;
}

.checkout .colour {
	margin: 0;
	display: inline-block;
	width: 10%;
}

.checkout .size {
	display: inline-block;
	width: 10%;
}

.checkout .quantity {
	display: inline-block;
	flex: 10%;
}

.checkout .price {
	display: inline-block;
	flex: 20%;
}

.checkout .product {
	display: flex;
	position: relative;
}

.checkout .product img {
	width: 100%;
}

.checkout .product_img {
	width: 40%;
	margin-right: 2em;
}

.checkout .product_name {
	padding: 1em;
	width: 100%;
}

.checkout .product_name a {
	text-decoration: none;
}

.checkout .product_name a {
	position: absolute;
	top: 30%;
	margin: 0 1em 0 1em;
}


.checkout .colour p,
.checkout .size p,
.checkout .quantity p,
.checkout .price p {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	margin: 0;
}

.checkout_total {
	text-align: right;
	border-top: var(--gray-default) solid 1px;
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {

	.checkout.header {
		display: none;
	}

	.checkout {
		display: block;
	}

	.checkout .product {
		width: 100%;

	}

	.checkout .product_name {}

	.checkout .colour,
	.checkout .size,
	.checkout .quantity,
	.checkout .price {
		display: inline-block;
		width: 20%;
		padding: 1em;
	}
}


/**
.checkout_total.row{
    border-top: var(--gray-default) solid 2px;
    padding: 1em;
}
.checkout_total .col{
    width: 100%;
    text-align:right;
    font-size: 1.5em;
}



.checkout table{
    width: 100%;
}

.checkout .table_col1{
    text-align: left;
}

.checkout th{
    padding:10px;
}

.checkout .total{
    border-top: solid #DBDBDB 2px;
    padding: 20px 5px 20px 5px;
    font-weight: bold;
    padding-bottom: 0;
    font-size: 1.25em;
}

.checkout th{
    font-weight: normal;
}

.checkout .table_header{
    font-weight: bold;
}

.checkout .product_img img{
    width: 100%;
    margin-right: 20px;
}

.checkout .product{
    width:100%;
    height:100%;
    position: relative;
}

.checkout .product_img{
    display:inline-block;
    width:30%;
    margin-right: 20px;
}

.checkout .product_name {
    position: absolute;
    display:inline-block;
    top:50%;
}
.checkout .product_name a{
    text-decoration: none;
}

**/

/**
.checkout .product_name{
    display: inline-block;
    width: 60%;
    height: inherit;
    background-color: blue;

}

.checkout .product_name a{
    height: inherit;
    display: table-cell;
    vertical-align: middle;

}**/


/** FORM INPUTS **/

input[type=text],
input[type=radio],
input[type=submit],
input[type=reset],
textarea,
select {
	margin: 1em 0;
	resize: none;
}

input[type=text],
select,
input[type=submit],
input[type=reset],
textarea,
select {
	border-radius: 0px;
	border: solid #DBDBDB 1px;
}

input[type=text],
select,
textarea,
select {
	padding: 1em 0 1em 1em;
	box-sizing: border-box;
	width: 100%;
}

input[type=submit],
input[type=reset] {
	padding: 1em;
}

/** Product Listing **/


.product_list a {
	text-transform: capitalize;
	text-decoration: none;
}

.product_list a {
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.product_list .brand {
	margin: 0;
	font-style: italic;
}

.product_list .price {
	margin: 0;
}

.product_list .col {
	transition: 0.3s;
}

.product_list img {
	transition: 0.3s;
}

.product_list img:hover {
	filter: brightness(0.8);
}

.brand {
	margin: 0.25em 0;
	color: var(--red-accent);
}

/** Typography **/
* {
	font-size: 1em;
}

h1 {
	text-transform: uppercase;
	font-size: 1.5em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
}

.h2alt {
	color: var(--dark-brown);
}

.h1alt {
	color: var(--dark-brown);
}

a {
	color: var(--dark-brown);
}

p > a {
	color: var(--dark-brown);
}

p > a:hover {
	color: var(--red-accent);
}

/** Colour Palette **/
#c0 {
	color: white;
	background-color: #F1E3E3;
	padding: 20px 5px;
	display: inline-block;
	margin:10px 2px;
}

#c1 {
	padding: 20px 5px;
	color: white;
	background-color: #EDA437;
	display: inline-block;
	margin: 10px 2px;
}

#c2 {
	padding: 20px 5px;
	color: white;
	background-color: #76441F;
	display: inline-block;
	margin: 10px 2px;
}

#c3 {
	padding: 20px 5px;
	color: white;
	background-color: #4B1A0F;
	display: inline-block;
	margin: 10px 2px;
}

#c4 {
	padding: 20px 5px;
	color: white;
	background-color: #A7C6F3;
	display: inline-block;
	margin: 10px 2px;
}

#c5 {
	padding: 20px 5px;
	color: white;
	background-color: #DBDBDB;
	display: inline-block;
	margin: 10px 2px;
}

#c6 {
	padding: 20px 5px;
	color: white;
	background-color: #4f4f4f;
	display: inline-block;
	margin: 10px 2px;
}

/** Imagery **/

.imgs img {
	width: 30%;
}

/** GENERAL **/

* {
	font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Karla', sans-serif;

}

a {
	text-decoration: none;
}

.banner_dark {
	overflow: hidden;
}

.banner_dark img {
	width: 100%;
	transition: 1s;
}

.banner_dark:hover img {
	filter: brightness(0.5);
}

.banner img {
	width: 100%;
	overflow: hidden;
}

button {
	padding: 1em;
	background-color: white;
	transition: 0.4s;
	border-color: black;
	border: solid 1px;
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
}

button:hover {
	cursor: pointer;
	background-color: var(--blue-light);
	color: var(--gray-accent);
	border-color: black;
	border: solid 1px;
}

.default_button {
	padding: 1em;
	background-color: white;
	transition: 0.4s;
	border-color: black;
	border: solid 1px;
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
}

.default_button:hover {
	cursor: pointer;
	background-color: var(--blue-light);
	color: var(--gray-accent);
	border-color: black;
	border: solid 1px;
}

.wishlist_button {
	display: block;
	margin: 1em 0;
}

.button_light {
	padding: 20px;
	background-color: #DBDBDB;
	color: white;
	transition: 0.4s;
	border: none;
}

.button_light:hover {
	cursor: pointer;
	background-color: var(--yellow-accent);
}

.heart_button {
	color: var(--beige);
	font-size: 1.5em;
	transition: 0.3s;
}

.heart_button:hover {
	color: var(--yellow-accent);
}

.full_width {
	width: 100%;
}


.container {
	position: relative;
}

.box_section {
	border-top: var(--gray-default) solid 2px;
	margin: .5em 0 1em 0;
	padding: 1em;
}

input[type=submit] {
	background-color: white;
	color: black;
	transition: 0.4s;
	border: solid;
	border-width: 1px;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: var(--blue-light);
}

input[type=reset] {
	background-color: white;
	color: black;
	transition: 0.4s;
	border: solid;
	border-width: 1px;
}

input[type=reset]:hover {
	cursor: pointer;
	background-color: var(--yellow-accent);
}

.form_buttons {
	display: flex;
}

.form_buttons .submit_button {
	width: 100%;
	margin-right: 2%;
}

.form_buttons .reset_button {
	width: 50%;
}

.bottom_right_text {
	position: absolute;
	width: fit-content;
	bottom: 5%;
	right: 5%;
}

.bottom_left_text {
	position: absolute;
	width: fit-content;
	top: 60%;
	left: 5%;
}

.bottom_center_text {
	position: absolute;
	width: fit-content;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center_text {
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.center_right_text {
	position: absolute;
	width: fit-content;
	top: 50%;
	right: 3%;
	transform: translate(0, -50%);
}

object {
	overflow: hidden;
	width: 100%;
	height: 50%;
	margin: 0 !important;
}

#nav object {
	height: 6em;
}

.see_more_button {
	margin: 0;
	text-align: center;
	padding: 1em 3em;
	background-color: white;
	text-transform: uppercase;
	color: var(--gray-accent);
	font-weight: bold;
	transition: 0.3s;
	text-decoration: none;
	border: 1px solid black;
}

.see_more_button:hover {
	background-color: var(--blue-light);
	color: black;
}

.col_clear {
	display: block;
}

.edit_buttons {
	display: block;
}

.edit_buttons .default_button {
	display: inline-block;
}

.head_text{
	text-align:center;
}

/** FOOTER**/
footer {
	background-color: black;
}

footer .container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer .container .col {
	flex-basis: 25%;
}

footer a,
footer p {
	display: inline-block;
	margin: 0.5em;
	color: white;
	text-decoration: none;
}

footer .copyright {
	margin-top: 1em;
	color: #DFDFDF;
	font-size: 0.5em;
	text-align: center;
	width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
	footer {
		text-align: center;
	}
}

/**     clip: rect(0px,25px, 26px, 0);
**/