/** PRODUCT INFO BOX **/

.product_info {
    padding: 1em 2em;
    opacity: 0.9;
    width: 30%;
    background-color: white;
}

.product_info select{
	width:100%;
}

.product_info .default_button {
    display: block;
    text-align: center;
}

.product_info .brand,
.product_info .product_title,
.product_info .price {
    margin: 0;
}

.product_info .price {
    color: var(--gray-accent);
}

.product_info h5{
    margin: 1em 0 0 0;
}
 
/** SIZE **/

.size{
  display:inline-block;
}

.size input{
  display:none;
}

.size_button{
  padding: 0.5em;
}

.size_button { 
    margin: 1em 0.25em;
    border: var(--gray-default) solid 1px;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  border-radius: 100%;
  display: inline-block;
  text-align:center;
  transition: 0.3s;
  cursor:pointer;
}

.size_button:hover {
  cursor:pointer;
    background-color: var(--gray-accent);
	color:white;
}

.size input:checked ~ .size_button{
    background-color: var(--gray-accent);
	color:white;
}



.more_reviews{
    display:block;
    text-align: right;
}

@media (min-width: 0) and (max-width: 860px){
    
    .center_right_text{
        position:relative;
        transform: none;
        top:0;
        right:0;
        width: fit-content;
        width: 85%;
        margin:auto;
    }
    
}

#cart_popup .default_button {
	display: block;
}

#cart_popup .title {
	text-align: center;
	margin: 1em;
}

#cart_popup p, #cart_popup a, #cart_popup h3, #cart_popup h4{
	margin: 0;
}

#cart_popup .price{
	font-weight: bold;
	color: var(--red-accent);
	margin: 1em 0;
}