/** Side Menu **/
.side_bar .item {
	display: block;
	width: 100%;
}

.side_bar.col {
	width: 25%;
	padding: 2%;
}

.product_list.col {
	width: 65%;
}

.side_bar h5 {
	margin: 2em 0 1em 0;
}

.side_bar select {
	width: 100%;
}

.filters {
	width: 100%;
}

#filter_toggle {
	display: none;
}
.side_bar .col{
	width: 100%;
}

@media only screen and (max-width: 767px) {
	#filter_toggler {
		display: none;
	}

	#filter_toggle:checked ~ #filter_toggler {
		display: block;
	}

	.side_bar .search_bar {
		margin: 0;
	}

	.filter_toggle {
		width: 35%;
	}

	.filter_toggle .default_button {
		display: block;
	}

	.side_bar .col {
		padding: 0;
		width: 50%;
		margin: 1em 0;
	}
}

.nextpage{
	text-align: right;
	margin: 1em 0;
}

